.style {
  display: flex;

  input {
    flex: 1;

    background-color: transparent;
    color: #eeeeee;
    border: 0;
    outline: none;
    padding: 10px;

    font-size: 1.1em;
  }

  button {
    cursor: pointer;

    font-size: 1.2em;
    background-color: gray;
    color: #eeeeee;
    border-radius: 0;
    border: 0;

    min-width: 2em;

    &:disabled {
      background-color: #222222;
      color: #444444;
    }
  }
}
