@keyframes blink {
  0% {
    border-color: var(--box-background);
  }

  50% {
    border-color: var(--border-color);
  }

  100% {
    border-color: var(--box-background);
  }
}

.figure {
  container-type: inline-size;

  display: flex;
  flex-direction: column;

  > :first-child {
    flex: 1;
    width: 100%;
  }

  > figcaption {
    padding: 0.5em 1em;
    font-size: 0.8em;

    display: flex;
    align-items: center;
    gap: 0.7em;

    h3 {
      flex: 1;
    }

    img {
      width: 1.7em;
      height: 1.7em;

      border-radius: 50%;
      background-color: white;
    }
  }

  --border-color: var(--box-background);
  border: 1px solid var(--border-color);

  &:has([data-match-high='true']) {
    --border-color: #a83333;
    animation: blink 1s linear infinite;
  }

  &:has([data-match-low='true']) {
    --border-color: #2490b9;
    animation: blink 1s linear infinite;
  }

  &:has([data-staled-level='1']) {
    opacity: 0.8;
  }

  &:has([data-staled-level='2']) {
    opacity: 0.68;
  }

  &:has([data-staled-level='3']) {
    opacity: 0.56;
  }

  &:has([data-staled-level='4']) {
    opacity: 0.44;
  }

  &:has([data-staled-level='5']) {
    opacity: 0.32;
  }
}

@media (max-width: 768px) {
  .figure {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

@container (width < 450px) {
  .figure {
    > figcaption {
      font-size: 0.75em;
    }
  }
}

@container (width < 400px) {
  .figure {
    > figcaption {
      font-size: 0.7em;
    }
  }
}
