.style {
  *,
  *::before,
  *::after {
    user-select: none;
  }

  padding: var(--content-padding);
}

.calendars {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  font-size: 10px;
}

.month {
  margin-bottom: 2em;
}

.month table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.month th,
.month td {
  text-align: center;
  padding: 0.5em;
}

.month td {
  border: none;
}

.otherMonth {
  color: red;
}

.hasEntry {
  background-color: darkblue;
  font-weight: bold;
}
